@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    
    
    
}
.logo{
    display: flex;
    background-color: #131921;
    height: 70px;
}
#l{
    width: 15px;
    height: 15px;
    margin-top: 20px;
    fill: white;
}
#h{
    font-size: 13px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}


#search{
   width: 700px;
   height: 45px;
   margin-top: 1%;
   margin-left:3%;

}
#sicon{
    margin-left: 700px;
    margin-top: -25px;
    padding-bottom: 10%;
}
#flag{
    margin-top: 25px;
    margin-right: 500px;
}
#sign{
    color: white ;
    margin-top: -35px;
    margin-left: 85px;
    font-weight: 700;
    
}
#acc{
    font: 1em sans-serif;
    font-weight: 600;
}
#Orders{
    /* color: green ; */
    margin-left: 249px;
    margin-top: -52px;
    color: white;
    font-weight: 700;
}
#cart{
    width: 70px;
    height: 40px;
    margin-left: -130px;
    margin-top: 14px;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #232F3E;
    font-weight: 600;
    text-align: center;
    fill: white;
    
}
#ham{
    height: 20px;
    margin-top: 5px;
}
#span1{
    color: white;
    margin-top: 10px;
}
#span2{
    color: white;
    margin-top: 10px;
}
#span3{
    color: white;
    margin-top: 10px;
}
#span4{
    color: white;
    margin-top: 10px;
}
#span5{
    color: white;
    margin-top: 10px;
}
#span6{
    color: white;
    margin-top: 10px;
}
#span7{
    color: white;
    margin-top: 10px;
}
#span8{
    color: white;
    margin-top: 10px;
}
#span9{
    color: white;
    margin-top: 10px;
}
#span10{
    color: white;
    margin-top: 10px;
}
#span11{
    color: white;
    margin-top: 10px;
}
#span12{
    color: white;
    margin-top: 10px;
}
.on{
    
    background-color: white;
    margin-top: -450px;
    color: white;
    justify-content: space-evenly;
    
}
#up{
   font-size: large;
   font-weight: 800;
   margin-left: 100px;
   color: black;
}
.two{
    
    background-color: white;
    color: white;
}
#down{
    font-size: large;
    font-weight: 800;
    margin-left: 100px;
    color: black;

}
#span13{
    padding: 10px;
    font-size: large;
}
#span14{
    padding: 10px;
    font-size: large;
}
#span15{
    padding: 10px;
    font-size: large;
}
#span16{
    padding: 10px;
    font-size: large;
}